@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&display=swap');

/*  SEÇÃO SOBRE NÓS */
.sobre_nos {
  max-width: 1000px;
  margin: 100px auto;
  padding: 40px;
  color: #121010;
  /*text-align: justify;  centraliza títulos */
}

.sobre_nos p {
  text-align: justify;
}

.titulo3 h3 {
  font-family: 'Italiana', serif;
  font-size: 1.8rem;
  color:  #b8696b;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.titulo1 h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  color:  #b8696b;
  margin-bottom: 30px;
}

