@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&display=swap');

/* Carrossel */
.carousel {
  position: relative;
  width: 100%;
  height: 75vh;
  /* altura fixa */
  overflow: hidden;
  z-index: 0 !important;
  overflow: visible !important;
}

.carousel-inner {
  display: flex;
  width: 500%;
  height: 100%;
  transition: transform 1s ease-in-out;
  gap: 0;
  will-change: transform;
  backface-visibility: hidden;
}

.carousel-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Estilização da section queridinhos*/
.titulo3 {
  font-family: 'Italiana', serif;
  font-style: bold;
  clear: left;
  text-align: center;
  color: #b8696b;
  margin: 10px 0;
  /* Ajustado para margem vertical */
}

.titulo1 {
  font-family: 'Italiana', serif;
  font-style: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: #b8696b;
}

.queridinhos {
  background-color: #f9e9e9;
  padding: 60px 0;
}

/* Cards QUERIDINHOS*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  place-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 70vw;
  align-items: stretch;
}

/* Estilização dos cards*/
.card {
  background: #000000;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(204, 203, 203, 0.2);
  padding: 20px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-style: bold;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
  color: white;
  height: 420px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  font-family: 'Italiana', serif;
  font-style: bold;
  clear: left;
  text-align: center;
  color: #b8696b;
  margin: 10px 0;
}

.preco {
  font-family: 'Cormorant Garamond', serif;
  font-style: bold;
  font-size: 1.5rem;
  color: green;
}

.card-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #b8696b;
  border: 2px solid #b8696b;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.card-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #b8696b;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-btn:hover::before {
  scale: 3;
}

.card-btn:hover {
  color: #f9e9e9;
  scale: 1.1;
  box-shadow: 0 0px 20px #5f393a;
}

.card-btn:active {
  scale: 1;
}

/* Estilização da sessão LANÇAMENTOS*/

.lancamentos {
  margin-top: 60px;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.product-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 500px;
  height: 500px;
  border: none;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Camada escura por cima da imagem */
.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  color: #fff;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

.product-price {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 0 15px;
}

.buy-btn {
  align-self: flex-start;
  background-color: #b46b6b;
  border: none;
  color: white;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 1rem;
  transition: 0.3s;
}

.buy-btn:hover {
  background-color: #b46b6b;
}

.product-overlay {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.product-card:hover .product-overlay {
  opacity: 1;
}

/* Swiper custom */
.swiper {
  width: 90%;
  max-width: 1600px;
  padding: 0 20px;
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  color: #b46b6b!important;
}

.swiper-pagination-bullet-active {

  background: #b46b6b !important;
}

.swiper-slide {
  margin-right: 100px; /* controla o espaçamento entre cards */
}
